body {
    display: flex;
    justify-content: center;
}

ul {
    display: block;

}

.todo-list-item,
.list-list-item {
    margin: 1rem 0 1rem 0;
}

.todo-list-item>a.delete-todo {
    margin-left: 1rem;
}

form>label {
    display: block;
}

form>input#new-todo,
form>input#new-list {
    margin-top: 1.5rem;
    width: 25rem;
}

button {
    margin-left: 1rem;
}


.todo-completed {
    text-decoration: line-through;
}

.lists {
    padding-left: .9rem;
}

a {
    color: #9e9e9e;

}