body {
    margin: auto;
    max-width: 33rem;
}

p {
    margin-top: 2rem;
}

.todo-completed {
    text-decoration: line-through;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    display: inline;
}
a::after {
    content: "";
    display: block;
}

input[type="checkbox"] {
    margin-right: .5rem;
    display: inline;
}